<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
</head>

<body>
    <div class="base">

    </div>

    <div class="block1">
        <img src="../styles/images/Photo.png" class="Photo1" alt="First image">
        <img src="../styles/images/Logo.png" class="Logo1" alt="Logo image">
        <span class="text1">Bananas Foster Ice Cream Cake</span>
        <span class="text2">If you're looking for decadence, look no further — you've found the Holy Grail of desserts. Honestly, this cake makes us wonder why Bananas Foster hasn't always been served on top of ice cream cake.</span>
    </div>

</body>

</html>