<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../styles/fonts/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

    <style>
        a {
            text-decoration: none;
        }
        a:hover {
            color: #CE242B;
            text-decoration: underline;
        }
    </style>
    <link rel="stylesheet" href="../styles/fonts/css/all.css">
</head>

<body>
<div class="DIMA">
    <div class="base">

    </div>

    <div class="block1">
        <img src="../styles/images/Dima/Photo1-1.png" class="Photo1-1">
        <img src="../styles/images/Dima/Logo.png" class="Logo1">
        <span class="text1">Bananas Foster Ice Cream Cake</span>
        <span class="text2">If you're looking for decadence, look no further — you've found the Holy Grail of desserts. Honestly, this cake makes us wonder why Bananas Foster hasn't always been served on top of ice cream cake.</span>
        <span class="text3">GET IT RECIPE</span>
        <div class="border1"></div>
        <div class="dot1-1"></div>
        <div class="dot1-2"></div>
        <div class="dot1-3"></div>
        <div class="dot1-4"></div>
        <div class="dot1-5"></div>
    </div>

    <div class="block2">
        <img src="../styles/images/Dima/Photo2-1.png" class="Photo2-1">
        <span class="text2-1">Raspberry & Cream Frozen Yogurt Pie</span>
        <img src="../styles/images/Dima/Photo2-2.png" class="Photo2-2">
        <span class="text2-2">Giant Ice Cream Sandwich</span>
        <img src="../styles/images/Dima/Photo2-3.png" class="Photo2-3">
        <span class="text2-3">Dark Chocolate Crunch Ice Cream Sandwich Cake</span>
    </div>

</div>

<div class = "IVAN">
    <div class="block6">
        <span class="text6-1"> Chi-Chi or Chichi </span>
        <img src="../styles/images/Ivan/girl.png" class="photo6-1">
        <img src="../styles/images/Ivan/line.png" class="line6-1">
        <span class="text6-2">Recipe by</span>
        <span class="text6-3">Smuckersreg Toppings</span>
        <span class="text6-4"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text6-5">15mins</span>
        <span class="text6-6"><i class="fa fa-regular fa-comment"></i></span>
        <span class="text6-7">12</span>
        <span class="text6-8"><i class="fa fa-regular fa-eye"></i></span>
        <span class="text6-9">37</span>
        <div class="line6-2"></div>
        <img src="../styles/images/Ivan/food.png" class="photo6-2">
        <div class="dot6-1"></div>
        <div class="dot6-2"></div>
        <div class="dot6-3"></div>
        <div class="dot6-4"></div>
        <div class="dot6-5"></div>
</div>
    <div class="block7">
        <span class="text7-1">Recipe</span>
        <img src="../styles/images/Ivan/line.png" class="line7-1">
        <span class="text7-2">easy</span>
        <span class="text7-3">middle</span>
        <span class="text7-4">long</span>
        <img src="../styles/images/Ivan/salat.png" class="photo7-1" >
        <img src="../styles/images/Ivan/cocos.png" class="photo7-2" >
        <img src="../styles/images/Ivan/hands.png" class="photo7-3" >
        <a href="#viewbutton"><button class="viewbutton" id="viewbutton">VIEW MORE</button></a>

        <span class="text7-5">by</span>
        <span class="text7-6">Smuckersreg Toppings</span>
        <span class="text7-7">Thanks for the recipe lorem ipsum bla bla bla Thanks for the recipe lore</span>

        <span class="text7-8">by</span>
        <span class="text7-9">Smuckersreg Toppings</span>
        <span class="text7-10">Thanks for the recipe lorem nks for the recipe</span>

        <span class="text7-11">by</span>
        <span class="text7-12">Smuckersreg Toppings</span>
        <span class="text7-13">Thanks for the recipe lorem nks for the recipe</span>

        <a href=""> <span class="icons7-1"> <i class="fa fa-print"></i></span></a>
        <a href="https://www.gmail.com/"> <span class="icons7-2"> <i class="fa fa-regular fa-envelope"></i></span></a>
        <a href="https://www.facebook.com/"> <span class="icons7-3"> <i class="fab fa-facebook-f"></i></span></a>
        <a href="https://www.pinterest.com/"> <span class="icons7-4  "> <i class="fab fa-pinterest"></i></span></a>
    </div>
    <div class="block8">
        <img class="photo8-1" src="../styles/images/Ivan/cofe.png">
        <span class="text8-1">Popular Now</span>
        <span class="text8-2">Vanilla Frozen Coffee</span>
        <span class="text8-3">Mix coffee, sugar and creamer.Pour into blender and add ice cubes.Blend until smooth.</span>
        <span class="text8-4"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text8-5">6mins</span>
        <span class="text8-6"><i class="fa fa-regular fa-comment"></i></span>
        <span class="text8-7">240</span>
        <span class="text8-8"><i class="fa fa-regular fa-eye"></i></span>
        <span class="text8-9">400</span>
        <div class="line8-1"></div>
    </div>
</div>
<div class = "ARTYOM">
    <div class="block11">
        <span class="text first">Tags</span>
        <div class="line one"></div>
        <span class="text11-1">#yummy   #sweet   #dinner   #lunch <br> <br>

            #breakfast   #fresh   #tasty   #delish <br> <br>
            
            #delicious   #eating   #food</span>
    </div>
    <div class="block12">
        <span class="text second">Calendar</span>
        <div class="line two"></div>
        <span class="text12-1">&#60;</span>
        <span class="text12-2">&#62;</span>
        <span class="text12-3">June 2017</span>
        <span class="text12-4"><ins>Su</ins>     <ins>Mo</ins>     <ins>Tu</ins>     <ins>We</ins>     <ins>Th</ins>     <ins>Fr</ins>     <ins>Sa</ins></span>
        <img src="../styles/images/Artyom/calendar.png" alt="" class="calendar">
    </div>    
    <div class="block13">
        <span class="text third">Login</span>
        <div class="line three"></div>
        <span class="text13-1">Login for LEMON</span>
        <input type="text" class="login" placeholder="email or login">
        <input type="text" class="password" placeholder="password">
        <input type="checkbox" class="chbox">
        <span class="text13-2">Remember me</span>
        <button class="btlogin">login</button>
        <span class="text13-4">Forgot your password?</span>
        <a href="рпи" onclick="return false"><span class="facebook"><i class="fab fa-facebook-f"></i></span></a>
        <a href="рпи" onclick="return false"><span class="g"><i class="fab fa-google-plus-g"></i></span></a>
        <span class="text13-5">Don’t have an accont? Sign in</span>
    </div> 
    <div class="block14">
        <span class="text fourth">Sign in</span>
        <div class="line three"></div>
        <span class="text14-1">Sign in for LEMON</span>
        <input type="text" class="login" placeholder="email">
        <input type="text" class="usname" placeholder="user name">
        <input type="text" class="password2" placeholder="password">
        <input type="text" class="rppassword" placeholder="repeat password">
        <button class="btsignup">sign up</button>
        <a href="рпи" onclick="return false"><span class="facebook2"><i class="fab fa-facebook-f"></i></span></a>
        <a href="рпи" onclick="return false"><span class="g2"><i class="fab fa-google-plus-g"></i></span></a>
        <span class="text14-5">By joining LEMON, you agree to our </span>
        <a href="рпи" onclick="return false"><span class="text14-6">Terms of Service.</span></a>
        <span class="text14-7">login</span>
    </div>
</div>

<div class = "PASHA">
    <div class="block15">
        <span class="text15-1">Post a Comment</span>
        <img src="../styles/images/Pavel/Photo15_2.png" class="Photo15-2">
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo15-1">
        <button class="btn15-4">POST</button>
        <a href="https://www.facebook.com/" class="text15-3">Facebook</a>
        <a href="https://www.twitter.com/" class="text15-5">Twitter</a>
        <span class="text15-4">|</span>
        <input type="text" class="Input15-1">
    </div>
    <div class="block16">
        <span class="text16-1">Comments</span>
        <div class="block16-1"></div>
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo16-1">
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo16-2">
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo16-3">
        <img src="../styles/images/Dima/Photo2-1.png" class="Photo16-4">
        <span class="text16-2">post by</span>
        <span class="text16-3">Smuckersreg Toppings</span>
        <a href="#text16-4" class="text16-4">reply</a>
        <span class="date16-1">6/10/2014</span>
        <span class="date16-2">6/10/2014</span>
        <span class="date16-3">6/10/2014</span>
        <span class="text16-5">Thanks for the recipe</span>
        <div class="block16-2"></div>
        <div class="block16-3"></div>
        <div class="block16-4"></div>
        <span class="text16-6">Thanks for the recipe</span>
        <span class="text16-7">Smuckersreg Toppings</span>
        <span class="text16-8">Smuckersreg Toppings</span>
        <span class="text16-9">post by</span>
        <span class="text16-10">post by</span>
        <span class="text16-11">Thanks for the recipe lorem ipsum bla bla bla Thanks for the recipe lore</span>
        <span class="text16-12">24 more comments</span>
        <a href="#reply16-2" class="reply16-2">reply</a>
        <a href="#reply16-3" class="reply16-3">reply</a>
        <span class="t456-1">456</span>
        <span class="t456-2">456</span>
        <span class="t456-3">456</span>
        <span class="t15-1">15</span>
        <span class="t15-2">15</span>
        <span class="t15-3">15</span>
        <span class="share16-1">
            <i class="fa fa-share-alt"></i>
        </span>
        <span class="share16-2">
            <i class="fa fa-share-alt"></i>
        </span>
        <span class="share16-3">
            <i class="fa fa-share-alt"></i>
        </span>
        <img src="../styles/images/Pavel/Like.png" class="like16-1">
        <img src="../styles/images/Pavel/Like.png" class="like16-2">
        <img src="../styles/images/Pavel/Like.png" class="like16-3">
        <div class="ellipse16">
            <a href="https://www.pinterest.com/"><span class="pinterest16"><i class="fa-brands fa-pinterest"></i></span></a>
        </div>
    </div>
    <div class="block17">
        <a href="#text17-arrowleft" class="text17-arrowleft"><</a>
        <a href="#text17-1" class="text17-1">1</a>
        <a href="#text17-2" class="text17-2">2</a>
        <a href="#text17-3" class="text17-3">3</a>
        <a href="#text17-4" class="text17-4">4</a>
        <a href="#text17-5" class="text17-5">5</a>
        <a href="#text17-6" class="text17-6">6</a>
        <a href="#text17-arrowright" class="text17-arrowright">></a>
    </div>
    <div class="block18">
        <a href="index.html"><img src="../styles/images/Pavel/Logo_black.png" class="Logo_black"></a>;
        <a href="index.html" class="text18-1">HOME</a>
        <a href="#text18-2" class="text18-2">RECIPES</a>
        <a href="#text18-3" class="text18-3">PHOTO GALLERIES</a>
        <a href="#text18-4" class="text18-4">VIDEOS</a>
        <a href="#text18-5" class="text18-5">ALL CATEGORIES</a>
        <span class="text18-6">2016-2017 LEMON. ALL RIGHT RESERVED</span>
        <a href="https://www.google.com/"><span class="google18"><i class="fab fa-google-plus-g"></i></span></a>
        <a href="https://www.twitter.com/"><span class="twitter18"><i class="fa-brands fa-twitter"></i></span></a>
        <a href="https://www.facebook.com/"><span class="facebook18"><i class="fa-brands fa-facebook-f"></i></span></a>
        <a href="https://www.pinterest.com/"><span class="pinterest18"><i class="fa-brands fa-pinterest"></i></span></a>
    </div>
</div>



</body>

</html>
