<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../styles/fonts/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350;600;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@350&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/sylfaen" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <style>
        a {
            text-decoration: none;
        }
        a:hover {
            color: #CE242B;
            text-decoration: underline;
        }
    </style>
    <link rel="stylesheet" href="../styles/fonts/css/all.css">
</head>

<body>
<div class="DIMA">
    <div class="header">
        <a href="#"><img src="../styles/images/Dima/LogoSmall.png" class="LogoSmall"></a>
        <a href="#" class="text0-1">HOME</a>
        <a href="#" class="text0-2">RECIPES</a>
        <a href="#" class="text0-3">PHOTO GALLERIES</a>
        <a href="#" class="text0-4">VIDEOS</a>
        <a href="#" class="text0-5">ALL CATEGORIES</a>
        <input type="text" class="find" placeholder="&#61442; FIND A RECIPE">
    </div>

    <div class="block1">
        <img src="../styles/images/Dima/Photo1-1.png" class="Photo1-1">
        <img src="../styles/images/Dima/Logo.png" class="Logo1">
        <span class="text1-1">Bananas Foster Ice Cream Cake</span>
        <span class="text1-2">If you're looking for decadence, look no further — you've found the Holy Grail of desserts. Honestly, this cake makes us wonder why Bananas Foster hasn't always been served on top of ice cream cake.</span>
        <button class="btn1-1">GET IT RECIPE</button>
        <div class="dot1-1"></div>
        <div class="dot1-2"></div>
        <div class="dot1-3"></div>
        <div class="dot1-4"></div>
        <div class="dot1-5"></div>
    </div>

    <div class="block2">
        <img src="../styles/images/Dima/Photo2-1.png" class="Photo2-1">
        <span class="text2-1">Raspberry & Cream Frozen Yogurt Pie</span>
        <img src="../styles/images/Dima/Photo2-2.png" class="Photo2-2">
        <span class="text2-2">Giant Ice Cream Sandwich</span>
        <img src="../styles/images/Dima/Photo2-3.png" class="Photo2-3">
        <span class="text2-3">Dark Chocolate Crunch Ice Cream Sandwich Cake</span>
        <span class="text2-4"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text2-5">35mins</span>
        <div class="line2-1"></div>
        <span class="text2-6"><i class="fa fa-regular fa-comment"></i></span>
        <span class="text2-7">7</span>
        <span class="text2-8"><i class="fa fa-regular fa-eye"></i></span>
        <span class="text2-9">14</span>

        <span class="text2-4-2"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text2-5-2">20mins</span>
        <div class="line2-1-2"></div>
        <span class="text2-6-2"><i class="fa fa-regular fa-comment"></i></span>
        <span class="text2-7-2">4</span>
        <span class="text2-8-2"><i class="fa fa-regular fa-eye"></i></span>
        <span class="text2-9-2">356</span>

        <span class="text2-4-3"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text2-5-3">15mins</span>
        <div class="line2-1-3"></div>
        <span class="text2-6-3"><i class="fa fa-regular fa-comment"></i></span>
        <span class="text2-7-3">4</span>
        <span class="text2-8-3"><i class="fa fa-regular fa-eye"></i></span>
        <span class="text2-9-3">167</span>
    </div>

    <div class="block3">
        <img src="../styles/images/Dima/Photo3-1.png" class="Photo3-1">
        <div class="border3-1"></div>
        <span class="text3-1"><i class="fa-solid fa-file-image"></i></span>
        <div class="scroll3-1"></div>
        <div class="scroll3-2"></div>
        <span class="text3-2">Bananas Foster Ice Cream Cake</span>
        <span class="text3-3">1 (8 ounce) container frozen whipped topping, thawed 20 chocolate round wafers, divided</span>
        <span class="text3-4">1 (7 1/4 ounce) bottle Smucker's® Hot Dark Chocolate Microwaveable Topping, divided</span>
        <span class="text3-5">Directions</span>
        <span class="text3-6">ARRANGE 8 to 9 ice cream sandwiches in 9-inch square pan, cutting to form an even layer. Spread with half of whipped topping. Break or crush chocolate and sprinkle over the whipped cream. Microwave 1 cup of chocolate into small microwave-safe bowl on HIGH for 30 seconds.</span>
        <span class="text3-7">Drizzle evenly over wafers.</span>
        <span class="text3-8">TOP with remaining 8 to 9 ice cream sandwiches to form an even layer. </span>
        <span class="text3-9">Spread with remaining topping. Freeze 3 hours or overnight. Remove</span>
        <span class="text3-10">15mins</span>
        <span class="text3-11"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text3-12">Easy</span>
        <div class="bar3-1"></div>
        <div class="bar3-2"></div>
        <div class="bar3-3"></div>
        <div class="bar3-4"></div>
        <button class="btn3-1">SAVE RECIPE</button>
    </div>

    <div class="block4">
        <img src="../styles/images/Dima/Photo4-1.png" class="Photo4-1">
        <div class="bar4-1"></div>
        <span class="text4-1">404</span>
        <span class="text4-2">Sorry</span>
        <span class="text4-3">WE COULDN’T FIND THE PAGE</span>
        <img src="../styles/images/Dima/Photo4-2.png" class="Photo4-2">
        <button class="btn4-1">BACK</button>
    </div>

    <div class="block5">
        <div class="bar5-1"></div>
        <div class="bar5-2"></div>
        <span class="text5-1">Karen Gray</span>
        <span class="text5-2">United States</span>
        <span class="text5-3">About Lemon</span>
        <span class="text5-4">Over the fifteen-year life span of Food.com, we’ve learned that – in addition to eating – sharing is what you do best. And thanks to the 20 million of you who come here each month, we now have 500,000 recipes to show for it, more than anywhere else in the digital universe. We also have tons crazy-tempting photos, troves of recipe reviews and more than 2 million Facebook likes. That’s a heck of a lot of Food. Thank you!</span>
        <span class="text5-5">Author</span>
        <img src="../styles/images/Dima/Photo5-1.png" class="Photo5-1">
        <img src="../styles/images/Dima/Photo5-2.png" class="Photo5-2">
        <a href="https://www.google.com/" target="_blank"><span class="google5"><i class="fab fa-google-plus-g"></i></span></a>
        <a href="https://www.twitter.com/" target="_blank"><span class="twitter5"><i class="fa-brands fa-twitter"></i></span></a>
        <a href="https://www.facebook.com/" target="_blank"><span class="facebook5"><i class="fa-brands fa-facebook-f"></i></span></a>
        <a href="https://www.pinterest.com/" target="_blank"><span class="pinterest5"><i class="fa-brands fa-pinterest"></i></span></a>
    </div>


</div>

<div class = "IVAN">
    <div class="block6">
        <span class="text6-1"> Chi-Chi or Chichi </span>
        <img src="../styles/images/Ivan/girl.png" class="photo6-1">
        <img src="../styles/images/Ivan/line.png" class="line6-1">
        <span class="text6-2">Recipe by</span>
        <span class="text6-3">Smuckersreg Toppings</span>
        <span class="text6-4"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text6-5">35mins</span>
        <span class="text6-6"><i class="fa fa-regular fa-comment"></i></span>
        <span class="text6-7">7</span>
        <span class="text6-8"><i class="fa fa-regular fa-eye"></i></span>
        <span class="text6-9">14</span>
        <div class="line6-2"></div>
        <img src="../styles/images/Ivan/food.png" class="photo6-2">
        <div class="dot6-1"></div>
        <div class="dot6-2"></div>
        <div class="dot6-3"></div>
        <div class="dot6-4"></div>
        <div class="dot6-5"></div>
</div>
    <div class="block7">
        <span class="text7-1">Recipe</span>
        <img src="../styles/images/Ivan/line.png" class="line7-1">
        <span class="text7-2">easy</span>
        <span class="text7-3">middle</span>
        <span class="text7-4">long</span>
        <img src="../styles/images/Ivan/salat.png" class="photo7-1" >
        <img src="../styles/images/Ivan/cocos.png" class="photo7-2" >
        <img src="../styles/images/Ivan/hands.png" class="photo7-3" >
        <a href="#viewbutton"><button class="viewbutton" >VIEW MORE</button></a>

        <span class="text7-5">by</span>
        <span class="text7-6">Smuckersreg Toppings</span>
        <span class="text7-7">Thanks for the recipe lorem ipsum bla bla bla Thanks for the recipe lore</span>

        <span class="text7-8">by</span>
        <span class="text7-9">Smuckersreg Toppings</span>
        <span class="text7-10">Thanks for the recipe lorem nks for the recipe</span>

        <span class="text7-11">by</span>
        <span class="text7-12">Smuckersreg Toppings</span>
        <span class="text7-13">Thanks for the recipe lorem nks for the recipe</span>

        <a href="javascript:(print());"> <span class="icons7-1"> <i class="fa fa-print"></i></span></a>
        <a href="https://www.gmail.com/"> <span class="icons7-2"> <i class="fa fa-regular fa-envelope"></i></span></a>
        <a href="https://www.facebook.com/"> <span class="icons7-3"> <i class="fab fa-facebook-f"></i></span></a>
        <a href="https://www.pinterest.com/"> <span class="icons7-4  "> <i class="fab fa-pinterest"></i></span></a>
    </div>
    <div class="block8">
        <img class="photo8-1" src="../styles/images/Ivan/cofe.png">
        <span class="text8-1">Popular Now</span>
        <span class="text8-2">Vanilla Frozen Coffee</span>
        <span class="text8-3">Mix coffee, sugar and creamer.<br>Pour into blender and add ice cubes.<br>Blend until smooth.</span>
        <span class="text8-4"><i class="fa fa-regular fa-clock"></i></span>
        <span class="text8-5">6mins</span>
        <span class="text8-6"><i class="fa fa-regular fa-comment"></i></span>
        <span class="text8-7">240</span>
        <span class="text8-8"><i class="fa fa-regular fa-eye"></i></span>
        <span class="text8-9">400</span>
        <div class="line8-1"></div>
        <a href="#viewbutton8-1"><button class="viewbutton8-1" id="viewbutton8-1">GET IT RECIPE</button></a>
    </div>
    <div class="block9">
        <span class="text9-1">Target</span>
        <img src="../styles/images/Ivan/line.png" class="line9-1">
        <span class="text9-2">Presentation line</span>
        <span class="text9-3">Housewives</span>
        <span class="text9-4">Lorem ipsum dolor sit amet, prima ceteros.</span>
        <span class="text9-5">Newlyweds</span>
        <span class="text9-6">Has brute elitr deserunt ea, assentior eloquen-tiam neglegentur te sed.</span>
        <span class="text9-7">Business lady</span>
        <span class="text9-8">Ei nam primis putent signiferumque.</span>
        <img src="../styles/images/Ivan/white1.jpg" class="img9-1">
        <img src="../styles/images/Ivan/white2.jpg" class="img9-2">
        <img src="../styles/images/Ivan/white3.jpg" class="img9-3">
        <img src="../styles/images/Ivan/red1.jpg" class="img9-4">
        <img src="../styles/images/Ivan/green1.jpg" class="img9-5">
        <img src="../styles/images/Ivan/green2.jpg" class="img9-6">
        <span class="text9-9">19%</span>
        <span class="text9-10">65%</span>
        <span class="text9-11">50%</span>
        <a href=""> <span class="icons9-1"> <i class="fa fa-print"></i></span></a>
        <a href="https://www.gmail.com/"> <span class="icons9-2"> <i class="fa fa-regular fa-envelope"></i></span></a>
        <a href="https://www.facebook.com/"> <span class="icons9-3"> <i class="fab fa-facebook-f"></i></span></a>
        <a href="https://www.pinterest.com/"> <span class="icons9-4  "> <i class="fab fa-pinterest"></i></span></a>
    </div>
    <div class="block10">
        <span class="text10-1">Timeline</span>
        <a href=""> <span class="icons10-1"> <i class="fa fa-print"></i></span></a>
        <a href="https://www.gmail.com/"> <span class="icons10-2"> <i class="fa fa-regular fa-envelope"></i></span></a>
        <a href="https://www.facebook.com/"> <span class="icons10-3"> <i class="fab fa-facebook-f"></i></span></a>
        <a href="https://www.pinterest.com/"> <span class="icons10-4  "> <i class="fab fa-pinterest"></i></span></a>
        <img src="../styles/images/Ivan/line.png" class="line10-1">
        <span class="text10-2">Time line</span>
        <span class="text10-3">Eam adhuc iudico percipitur ex, ut malis audire voluptaria has.</span>
        <img src="../styles/images/Ivan/gren1.jpg" class="line10-2">
        <img src="../styles/images/Ivan/gren2.jpg" class="line10-3">
        <img src="../styles/images/Ivan/redline1.jpg" class="line10-4">
        <span class="text10-4">EASY</span>
        <span class="text10-5">MIDDLE</span>
        <span class="text10-6">LONG</span>
        <span class="text10-7">15mins</span>
        <span class="text10-8">25mins</span>
        <span class="text10-9">40mins</span>
        <img src="../styles/images/Ivan/line_4834.png" class="line10-5">
    </div>
</div>

<div class = "ARTYOM">
    <div class="block11">
        <span class="text first">Tags</span>
        <div class="line one"></div>
        <span class="text11-1">#yummy   #sweet   #dinner   #lunch <br> <br>

            #breakfast   #fresh   #tasty   #delish <br> <br>
            
            #delicious   #eating   #food</span>
    </div>
    <div class="block12">
        <span class="text second">Calendar</span>
        <div class="line two"></div>
        <span class="text12-1">&#60;</span>
        <span class="text12-2">&#62;</span>
        <span class="text12-3">June 2017</span>
        <span class="text12-4"><ins>Su</ins>     <ins>Mo</ins>     <ins>Tu</ins>     <ins>We</ins>     <ins>Th</ins>     <ins>Fr</ins>     <ins>Sa</ins></span>
        <img src="../styles/images/Artyom/calendar.png" alt="" class="calendar">
    </div>    
    <div class="block13">
        <span class="text third">Login</span>
        <div class="line three"></div>
        <span class="text13-1">Login for LEMON</span>
        <input type="text" class="login" placeholder="email or login">
        <input type="text" class="password" placeholder="password">
        <input type="checkbox" class="chbox">
        <span class="text13-2">Remember me</span>
        <button class="btlogin">login</button>
        <span class="text13-4">Forgot your password?</span>
        <a href="рпи" onclick="return false"><span class="facebook"><i class="fab fa-facebook-f"></i></span></a>
        <a href="рпи" onclick="return false"><span class="g"><i class="fab fa-google-plus-g"></i></span></a>
        <span class="text13-5">Don’t have an accont? Sign in</span>
    </div> 
    <div class="block14">
        <span class="text fourth">Sign in</span>
        <div class="line three"></div>
        <span class="text14-1">Sign in for LEMON</span>
        <input type="text" class="login" placeholder="email">
        <input type="text" class="usname" placeholder="user name">
        <input type="text" class="password2" placeholder="password">
        <input type="text" class="rppassword" placeholder="repeat password">
        <button class="btsignup">sign up</button>
        <a href="рпи" onclick="return false"><span class="facebook2"><i class="fab fa-facebook-f"></i></span></a>
        <a href="рпи" onclick="return false"><span class="g2"><i class="fab fa-google-plus-g"></i></span></a>
        <span class="text14-5">By joining LEMON, you agree to our </span>
        <a href="рпи" onclick="return false"><span class="text14-6">Terms of Service.</span></a>
        <span class="text14-7">login</span>
    </div>
</div>

<div class = "PASHA">
    <div class="block15">
        <span class="text15-1">Post a Comment</span>
        <img src="../styles/images/Pavel/Photo15_2.png" class="Photo15-2">
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo15-1">
        <button class="btn15-4">POST</button>
        <a href="https://www.facebook.com/" class="text15-3" target="_blank">Facebook</a>
        <a href="https://www.twitter.com/" class="text15-5" target="_blank">Twitter</a>
        <span class="text15-4">|</span>
        <input type="text" class="Input15-1">
    </div>
    <div class="block16">
        <span class="text16-1">Comments</span>
        <div class="block16-1"></div>
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo16-1">
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo16-2">
        <img src="../styles/images/Pavel/Photo15_1.png" class="Photo16-3">
        <img src="../styles/images/Dima/Photo2-1.png" class="Photo16-4">
        <span class="text16-2">post by</span>
        <span class="text16-3">Smuckersreg Toppings</span>
        <a href="#text16-4" class="text16-4">reply</a>
        <span class="date16-1">6/10/2014</span>
        <span class="date16-2">6/10/2014</span>
        <span class="date16-3">6/10/2014</span>
        <span class="text16-5">Thanks for the recipe</span>
        <div class="block16-2"></div>
        <div class="block16-3"></div>
        <div class="block16-4"></div>
        <span class="text16-6">Thanks for the recipe</span>
        <span class="text16-7">Smuckersreg Toppings</span>
        <span class="text16-8">Smuckersreg Toppings</span>
        <span class="text16-9">post by</span>
        <span class="text16-10">post by</span>
        <span class="text16-11">Thanks for the recipe lorem ipsum bla bla bla Thanks for the recipe lore</span>
        <span class="text16-12">24 more comments</span>
        <a href="#reply16-2" class="reply16-2">reply</a>
        <a href="#reply16-3" class="reply16-3">reply</a>
        <span class="t456-1">456</span>
        <span class="t456-2">456</span>
        <span class="t456-3">456</span>
        <span class="t15-1">15</span>
        <span class="t15-2">15</span>
        <span class="t15-3">15</span>
        <span class="share16-1">
            <i class="fa fa-share-alt"></i>
        </span>
        <span class="share16-2">
            <i class="fa fa-share-alt"></i>
        </span>
        <span class="share16-3">
            <i class="fa fa-share-alt"></i>
        </span>
        <img src="../styles/images/Pavel/Like.png" class="like16-1">
        <img src="../styles/images/Pavel/Like.png" class="like16-2">
        <img src="../styles/images/Pavel/Like.png" class="like16-3">
        <div class="ellipse16">
            <a href="https://www.pinterest.com/" target="_blank"><span class="pinterest16"><i class="fa-brands fa-pinterest"></i></span></a>
        </div>
    </div>
    <div class="block17">
        <a href="#text17-arrowleft" class="text17-arrowleft"><</a>
        <a href="#text17-1" class="text17-1">1</a>
        <a href="#text17-2" class="text17-2">2</a>
        <a href="#text17-3" class="text17-3">3</a>
        <a href="#text17-4" class="text17-4">4</a>
        <a href="#text17-5" class="text17-5">5</a>
        <a href="#text17-6" class="text17-6">6</a>
        <a href="#text17-arrowright" class="text17-arrowright">></a>
    </div>
    <div class="block18">
        <a href="#"><img src="../styles/images/Pavel/Logo_black.png" class="Logo_black"></a>
        <a href="#" class="text18-1">HOME</a>
        <a href="#text18-2" class="text18-2">RECIPES</a>
        <a href="#text18-3" class="text18-3">PHOTO GALLERIES</a>
        <a href="#text18-4" class="text18-4">VIDEOS</a>
        <a href="#text18-5" class="text18-5">ALL CATEGORIES</a>
        <span class="text18-6">2016-2017 LEMON. ALL RIGHT RESERVED</span>
        <a href="https://www.google.com/" target="_blank"><span class="google18"><i class="fab fa-google-plus-g"></i></span></a>
        <a href="https://www.twitter.com/" target="_blank"><span class="twitter18"><i class="fa-brands fa-twitter"></i></span></a>
        <a href="https://www.facebook.com/" target="_blank"><span class="facebook18"><i class="fa-brands fa-facebook-f"></i></span></a>
        <a href="https://www.pinterest.com/" target="_blank"><span class="pinterest18"><i class="fa-brands fa-pinterest"></i></span></a>
    </div>
</div>

</body>

</html>
