body {
    width: 1440px;
    height: 9131px;
    background-color: #eaeaea;
}
.base {
    width: 1120px;
    height: 123px;
    box-shadow: 0 0 13px rgba(11, 12, 12, 0.15);
    background-color: #f8f8f8;
    display: block;
    margin-left: auto;
    margin-right: auto
}
/* --------------------------------------------- */
.block1 {
    position: relative;
    margin-top: 85px ;
    text-align: center;
}
.Photo1{
    width: 1119px;
    height: 438px;
    position: relative;

}
.Logo1 {
    width: 252px;
    height: 105px;
    position: absolute;
    top: 50px;
    left: 245px;
}
.text1 {
    position: absolute;
    width: 355px;
    height: 20px;
    color: #921026;
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: normal;
    top: 190px;
    left: 245px;
}
.text2 {
    width: 312px;
    height: 90px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    position: absolute;
    top: 240px;
    left: 245px;
}
.text3 {
    width: 90px;
    height: 10px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.3px;
    line-height: normal;
    position: absolute;
    top: 365px;
    left: 255px;
}
.border1 {
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    position: absolute;
    top: 355px;
    left: 245px;
}
.dot1-1, .dot1-2, .dot1-4, .dot1-5 {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 405px;
    position: absolute;
}
.dot1-1{
    left: 1180px;
}
.dot1-2{
    left: 1195px;
}
.dot1-3 {
    width: 8px;
    height: 8px;
    background-color: #555555;
    border-radius: 50%;
    position: absolute;
    top: 405px;
    left: 1210px;
}
.dot1-4{
    left: 1225px;
}
.dot1-5{
    left: 1240px;
}
/* --------------------------------------------- */
.block2 {
    width: 1120px;
    height: 373px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    display: block;
    margin: 90px auto auto;
    position: relative;
}
.Photo2-1 {
    width: 313px;
    height: 208px;
    top: 40px;
    left: 55px;
    position: absolute;
}
.Photo2-2{
    width: 313px;
    height: 208px;
    top: 40px;
    left: 410px;
    position: absolute;
}
.Photo2-3{
    width: 313px;
    height: 208px;
    top: 40px;
    left: 765px;
    position: absolute;
}
.text2-1, .text2-2, .text2-3 {
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    line-height: normal;
}
.text2-1{
    width: 320px;
    height: 18px;
    top: 260px;
    left: 55px;
    position: absolute;
}
.text2-2{
    width: 250px;
    height: 18px;
    top: 260px;
    left: 410px;
    position: absolute;
}
.text2-3{
    width: 320px;
    height: 36px;
    top: 260px;
    left: 765px;
    position: absolute;
}
/* ====================IVAN PART============== */
.block6{
    width: 289px;
    height: 349px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    left: 200px;
    top: 2365px;

}
/* ======================ARTYOM===============*/

/* ===================PASHASASHSHASHA============= */
/*------------------------block 15-----------------------*/
.block15 {
    width: 838px;
    height: 187px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    left: 280px;
    top: 4175px;
    position: absolute;
}
.text15-1, .text16-1{       /*block16 - text1 */
    color: #000000;
    font-family: "Josefin Sans";
    transform: skew(-7deg);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    left:40px;
    top: 25px;
    position: absolute;
}
.text15-2{
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: normal;
    color: #ffffff;
    top:55%;
    left:705px;
    position: absolute;
}
.text15-2:hover{
    color: rgb(187, 187, 187);
}
.Photo15-2{
    top:65px;
    left:40px;
    opacity: 0.05;
    position: absolute;
}
.Photo15-1{
    top:80px;
    left:60px;
    position: absolute;
}
.Input15-1{
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
    height:36px;
    width:490px;
    top:90px;
    left:180px;
    border: 1px solid #c2c2c2;
    position:absolute;
}
.Photo15-4{
    top:90px;
    left:680px;
    position: absolute;
}
.text15-3, .text15-4, .text15-5{
    font-family: 'Josefin Sans', sans-serif;
    transform: skew(-7deg);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: normal;
    color: #000000;
    position: absolute;
}
.text15-3{
    left:645px;
    top:35px;
}
.text15-4{
    left:725px;
    top:35px;
}
.text15-5{
    left:740px;
    top:35px;
}
/*-----------------------block 16-------------------------*/
.block16{
    width: 838px;
    height: 761px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    top:4410px;
    left:280px;
}
.block16-1, .block16-2, .block16-3, .block16-4{
    position: absolute;
    top:60px;
    left:40px;
    width: 745px;
    height: 2px;
    opacity: 0.2;
    background-color: #555555;
}
.text16-1{
    top: 20px;
}
.Photo16-1{
    position: absolute;
    top:90px;
    left:50px;
}
.Photo16-2{
    position: absolute;
    top:445px;
    left:120px;
}
.Photo16-3{
    position: absolute;
    top:610px;
    left:50px;
}
.Photo16-4{
    position: absolute;
    top:160px;
    left:125px;
}
.text16-2, .text16-3, .text16-4, .text16-5, .text16-6, .date16-1{
    font-family: 'Josefin Sans';
    line-height: 1.2;
    position: absolute;
    letter-spacing: normal;
}
.text16-2{
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    top:85px;
    left:130px;
}
.text16-3{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    top: 105px;
    left:130px;
}
.text16-4{
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    color: #629494;
    position: absolute;
    top:105px;
    left:300px;
}
.text16-5, .text16-6{
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    top:385px;
    left:125px;
}
.text16-6{
    left:130px;
    top: 675px;
}
.date16-1{
    font-size: 12px;
    font-weight: 700;
    color: #629494;
    top:130px;
    left:130px;
}
.block16-2{
    width: 655px;
    top:425px;
    left:125px;
}
.block16-3{
    top:590px;
}
.block16-4{
    top:705px;
}
/*-----------------------block 17--------------------------*/
.block17{
    width: 838px;
    height: 92px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    top: 5215px;
    left: 280px;
}
.text17-arrowleft, .text17-arrowright, .text17-1, .text17-2, .text17-3, .text17-4, .text17-5, .text17-6{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: normal;
    top: 40%;
    color: #000000;
    position: absolute;
}
.text17-arrowleft{
    left: 270px;
}
.text17-1{
    left: 310px;
}
.text17-2{
    left: 350px;
    color: #629494;
}
.text17-3{
    left: 390px;
}
.text17-4{
    left: 430px;
}
.text17-5{
    left: 470px;
}
.text17-6{
    left: 510px;
}
.text17-arrowright{
    left: 550px;
}
/*------------------------block 18-----------------------*/
.block18{
    width: 1120px;
    height: 180px;
    opacity: 0.8;
    background-color: #000000;
    box-shadow: 0px 3px 7px 0px rgba(11,12,12,0.14);
    position: absolute;
    top: 5460px;
    left:150px;
}
.Logo_black{
    position: absolute;
    top: 40%;
    left: 85px;
}
.text18-1, .text18-2, .text18-3, .text18-4, .text18-5, .text18-6{
    opacity: 0.5;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: normal;
    color: #fefefe;
    top:85px;
    position: absolute;
}
.text18-1{
    left:285px;
}
.text18-1:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-2{
    left:345px;
}
.text18-2:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-3{
    left:415px;
}
.text18-3:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-4{
    left:545px;
}
.text18-4:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-5{
    left:610px;
}
.text18-5:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-6{
    left:835px;
}
.google18, .twitter18, .facebook18, .pinterest18 {
    top:110px;
    position: absolute;
    color: #fefefe;
    opacity: 0.3;
}
.google18{
    left:970px;
}
.google18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.twitter18{
    left:1005px;
}
.twitter18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.facebook18{
    left:1035px;
}
.facebook18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.pinterest18{
    left:1055px;
}
.pinterest18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}