@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
body {
    width: 1440px;
    height: 5640px;
    background-color: #eaeaea;
}
/*=====================Header==================*/
.header {
    width: 930px;
    height: 123px;
    box-shadow: 0 0 13px rgba(11, 12, 12, 0.15);
    background-color: #f8f8f8;
    display: flex;
    margin-left: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0 10px;
}
.nav__links li a{
    height: 14px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
}
.nav__links li a:hover{
    color: #CE242B;
    text-decoration: underline;
}
.find::-webkit-input-placeholder {
    font-family: FontAwesome, serif;
    color: #000000;
    font-size: 10px;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    opacity: 75%;
    transform: skew(0deg);
}
.find{
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 18px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    width: 162px;
    height: 28px;
    border: 1px solid #c2c2c2;
}
/*================Block1========================*/
.block1{
    width: 1119px;
    height: 438px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    background-image: url(../styles/images/Dima/Photo1-1.png);
    margin-left: 150px;
    margin-top: 85px;
    display: flex;
}
.block1-content{
    display: flex;
}
.Logo1{
    width: 252px;
    height: 105px;
    margin-top: 50px;
    margin-left: 90px;
}
.text1-1 {
    width: 400px;
    height: 20px;
    color: #921026;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    margin-top: 35px;
    margin-left: 90px;
}
.text1-2 {
    width: 300px;
    height: 90px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 16px;
    font-weight: 350;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    margin-top: 30px;
    margin-left: 90px;
}
.btn1-1 {
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    margin-top: 35px;
    margin-left: 90px;
}
.btn1-1:hover{
    background-color: #c2c2c2;
    color:#000000;
    cursor: pointer;
}
.left-panel1{
    margin: 0;
    padding: 0;
}
.left-panel1 li{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.right-panel1{
    margin-left: 82%;
    margin-top: 65%;
}
.dot-nav-1{
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70px;
}
.dot1-1, .dot1-2, .dot1-4, .dot1-5 {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
}
.dot1-3 {
    width: 8px;
    height: 8px;
    background-color: #555555;
    border-radius: 50%;
}
.dot1-1:hover, .dot1-2:hover, .dot1-3:hover, .dot1-4:hover, .dot1-5:hover{
    cursor: pointer;
}
/*==================Block2========================*/
.block2 {
    width: 1120px;
    height: 373px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    display: flex;
    margin-top: 85px;
    margin-left: 150px;
    justify-content: space-evenly;
}
.content2-1, .content2-2, .content2-3{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.info2-1, .info2-2, .info2-3{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}
.text2-1, .text2-2, .text2-3 {
    width: 305px;
    height: 18px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 18px;
    font-weight: 350;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 10px;
}
.text2-4, .text2-6, .text2-8, .text2-4-2, .text2-6-2, .text2-8-2, .text2-4-3, .text2-6-3, .text2-8-3{
    font-family: 'Font Awesome', serif;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 350;
    letter-spacing: 0.025em;
    color: #555555;
    margin-top: 10px;
}
.text2-4-3, .text2-6-3, .text2-8-3{
    margin-top: 25px;
}
.text2-5, .text2-7, .text2-9, .text2-5-2, .text2-7-2, .text2-9-2, .text2-5-3, .text2-7-3, .text2-9-3{
    height: 10px;
    color: #555555;
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 8px;
}
.text2-5-3, .text2-7-3, .text2-9-3{
    margin-top: 23px;
}
.line2-1, .line2-1-2, .line2-1-3{
    width: 1px;
    height: 14px;
    background-color: #6f6f6f;
    margin-top: 10px;
}
.line2-1-3{
    margin-top: 25px;
}
/*=================Block3=======================*/
.block3{
    width: 1120px;
    height: 438px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    background-image: url(../styles/images/Dima/Photo3-1.png);
    background-repeat: no-repeat;
    margin-top: 85px;
    margin-left: 150px;
    display: flex;
    flex-direction: row;
}
.left-panel2 {
    width: 50%;
    display: flex;
    justify-content: right;
}
.right-panel2 {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.border3-1{
    width: 49px;
    height: 62px;
    background-color: #000000;
    opacity: 50%;
    margin-right: 60px;
    position: absolute;
}
.text3-1{
    width: 23px;
    height: 26px;
    color: #ffffff;
    font-family: "Font Awesome", serif;
    font-size: 26px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-right: 70px;
    margin-top: 20px;
    z-index: 1;
}
.text3-2{
    width: 550px;
    height: 27px;
    color: #055555;
    font-family: "Playfair Display - Black", serif;
    font-size: 37px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 30px;
}
.info3-1{
    display: flex;
    margin-top: 20px;
    align-items: center;
}
.info-left3{
    display: flex;
    width: 175px;
    justify-content: space-evenly;
}
.bars{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 10px;
}
.bar3-1{
    width: 5px;
    height: 11px;
    background-color: #555555;
}
.bar3-2{
    width: 5px;
    height: 15px;
    background-color: #555555;
}
.bar3-3{
    width: 5px;
    height: 19px;
    background-color: #555555;
}
.bar3-4{
    width: 5px;
    height: 24px;
    border: 1px solid #555555;
}
.text3-10{
    width: 53px;
    height: 13px;
    color: #555555;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-top: 7px;
}
.text3-11{
    width: 14px;
    height: 15px;
    color: #555555;
    font-family: "Font Awesome", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 10px;
}
.text3-12{
    width: 33px;
    height: 18px;
    color: #555555;
    font-family: "Josefin Sans", serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.btn3-1 {
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    background-color: white;
    margin-left: 40%;
    margin-top: 10px;
}
.btn3-1:hover{
    background-color: #c2c2c2;
    color:#000000;
    cursor: pointer;
}
.text-container-3{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
.text3-3, .text3-4{
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 16px;
    font-weight: 350;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
.text3-3{
    width: 400px;
}
.text3-4{
    width: 500px;
}
.text3-5{
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    margin-top: 15px;
}
.text3-6, .text3-7, .text3-8, .text3-9{
    font-family: Sylfaen, serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
}
.text3-6{
    margin-top: 15px;
    width: 500px;
    font-size: 15px;
}
.text3-7{
    width: 500px;
    font-size: 15px;
}
.text3-8{
    width: 500px;
    font-size: 15px;
}
.text3-9{
    width: 500px;
    font-size: 15px;
}
.text-3{
    display: flex;
}
.scroll{
    margin-top: 20px;
    margin-left: 20px;
}
.scroll3-1, .scroll3-2{
    height: 267px;
    position: absolute;
}
.scroll3-1{
    opacity: 0.2;
    width: 2px;
    background-color: #555555;
}
.scroll3-2{
    width: 2px;
    height: 126px;
    background-color: #555555;
}
.scroll3-2:hover{
    cursor: pointer;
}
/* ------------------Block4-5---------------------- */
.blocks4-5{
    display: flex;
    margin-top: 140px;
    margin-left: 150px;
}
/* ------------------Block4---------------------- */
.block4{
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    width: 518px;
    height: 518px;
    background-image: url(../styles/images/Dima/Photo4-1.png);
    display: flex;
    flex-direction: column;
}
.plate-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    height: 120px;
}
.text4-1{
    width: 35px;
    height: 14px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    transform: skew(-5deg);
    margin-top: 25px;
    margin-left: 45px;
}
.text4-2{
    width: 79px;
    height: 33px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 34px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
.bar4-1{
    width: 440px;
    height: 2px;
    background-color: #555555;
    opacity: 0.2;
    margin-top: 10px;
    margin-left: 30px;
}
.text4-3{
    width: 130px;
    height: 32px;
    color: #a9a9a9;
    font-family: "Playfair Display - Black", serif;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
}
.Photo4-2{
    height: 25px;
    width: 31px;
}
.btn4-container{
    align-items: center;
    justify-content: center;
    display: flex;
}
.btn4-1{
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: white;
    margin-top: 110px;
}
.btn4-1:hover{
    background-color: #c2c2c2;
    color:#000000;
    cursor: pointer;
}
/* ------------------Block5---------------------- */
.block5{
    width: 518px;
    height: 519px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    display: flex;
    margin-left: 85px;
    flex-direction: column;
}
.Photo5-1{
    width: 130px;
    height: 130px;
    margin-top: 25px;
    margin-left: 30px;
}
.Photo5-2{
    width: 163px;
    height: 63px;
    margin-top: 20px;
    margin-left: 140px;
}
.text5-1{
    width: 58px;
    height: 14px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    transform: skew(-5deg);
    margin-top: 25px;
    margin-left: 45px;
}
.bar5-1{
    width: 440px;
    height: 2px;
    background-color: #555555;
    opacity: 0.2;
    margin-top: 10px;
    margin-left: 30px;
}
.author-text{
    display: flex;
}
.right-panel3{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.text5-2{
    width: 150px;
    height: 24px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 40px;
}
.text5-3{
    width: 150px;
    height: 14px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin-top: 5px;
}
.text5-4{
    width: 150px;
    height: 17px;
    color: #000000;
    font-family: "Josefin Sans", serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    transform: skew(-5deg);
    margin-top: 25px;
}
.text5-5{
    font-family: 'Josefin Sans', serif;
    width: 300px;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #000000;

    margin-top: 30px;
}
.bar5-2{
    width: 291px;
    height: 2px;
    background-color: #555555;
    opacity: 0.2;
    margin-top: 20px;
}
.social-links-5{
    display: flex;
    width: 105px;
    justify-content: space-between;
    margin-top: 10px;
}
.google5, .facebook5, .twitter5, .pinterest5{
    width: 20px;
    height: 15px;
    opacity: 0.5;
    color: #555555;
    font-family: "Font Awesome", serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}
/* ====================IVAN PART============== */
.block6{
    width: 289px;
    height: 349px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    left: 200px;
    top: 2365px;
}
.text6-1{
    font-family: 'Playfair Display';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #055555;
    position: absolute;
    top: 30px;
    left: 45px;
}
.photo6-1{
    position: absolute;
    left: 25px;
    top: 70px;
    width: 58px;
    height: 58px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.line6-1{
    width: 252px;
    height: 2px;
    opacity: 0.2;
    position: absolute;
    left: 15px;
    top: 60px;
}
.text6-2{
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 100px;
    top: 80px;

}
.text6-3{
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 100px;
    top: 100px;
}
.text6-4{
    font-family: 'Font Awesome';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left: 100px;
    top: 120px;
}
.text6-5{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left: 115px;
    top: 120px;
}
.text6-6{
    font-family: 'Font Awesome';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left: 165px;
    top: 120px;
}
.text6-7{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left: 180px;
    top: 120px;
}
.text6-8{
    font-family: 'Font Awesome';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left: 190px;
    top: 120px;
}
.text6-9{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left: 205px;
    top: 120px;
}
.line6-2{
    width: 1px;
    height: 14px;
    background-color: #6f6f6f;
    position: absolute;
    left: 160px;
    top: 120px;
    opacity: 0.5;
}
.photo6-2{
    width: 289px;
    height: 204px;
    background-color: #ffffff;

    position: absolute;
    top: 145px;
}
.dot6-1, .dot6-2, .dot6-4, .dot6-5 {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 330px;
    position: absolute;
}
.dot6-3{
    width: 8px;
    height: 8px;
    background-color: #555555;
    border-radius: 50%;
    top: 330px;
    left: 145px;
    position: absolute;
}
.dot6-1{
    left:115px;
}
.dot6-2{
    left:130px;
}
.dot6-4{
    left:160px;
}
.dot6-5{
    left:175px;
}
.dot6-1:hover,.dot6-2:hover,.dot6-3:hover,.dot6-4:hover,.dot6-5:hover{
    cursor: pointer;
}
/*--------------------------*/
.block7{
    width: 290px;
    height: 427px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    left: 585px;
    top: 2365px;
}
.text7-1{
    font-family: 'Josefin Sans';
    transform:skew(-7deg);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 15px;
    top: 30px;

}
.line7-1{
    width: 252px;
    height: 2px;
    opacity: 0.2;
    background-color: #555555;
    position: absolute;
    left: 15px;
    top:   55px;
}
.text7-2{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    top: 70px;
    left: 50px;
}
.text7-3{
    opacity: 0.8;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    top: 70px;
    left: 115px
}
.text7-4{
    opacity: 0.8;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    top: 70px;
    left: 190px
}
.text7-2:hover, .text7-3:hover, .text7-4:hover{
    text-decoration: underline;
    color: #000000;
}
.photo7-1{
    width: 49px;
    height: 45px;
    background-color: #8e2e2e;
    position: absolute;
    left: 20px;
    top:110px;
}
.photo7-2{
    width: 49px;
    height: 45px;
    background-color: #8e2e2e;
    position: absolute;
    left: 20px;
    top:210px;
}
.photo7-3{
    width: 49px;
    height: 45px;
    background-color: #8e2e2e;
    position: absolute;
    left: 20px;
    top:300px;
}
.viewbutton{
    font-family: 'Josefin Sans';
    font-size:12px;
    line-height: 1.2;
    top:380px;
    left:165px;
    position: absolute;
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    font-weight: 300;
    color: #010101;
    background-color: #ffffff;
}
.viewbutton:hover{
    background-color: #c2c2c2;
    color:#000000;
    cursor: pointer;
}
.text7-5{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    top:110px;
    left: 85px;
}
.text7-6{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left:100px;
    top:110px;
}
.text7-7{
    font-family: 'Josefin Sans';
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 85px;
    right:15px;
    top:130px;
}
.text7-8{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    top:210px;
    left: 85px;
}
.text7-9{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left:100px;
    top:210px;
}
.text7-10{
    font-family: 'Josefin Sans';
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 85px;
    right:30px;
    top:230px;
}
.text7-11{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    top:300px;
    left: 85px;
}
.text7-12{
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left:100px;
    top:300px;
}
.text7-13{
    font-family: 'Josefin Sans';
    font-size: 15px;
    line-height: 16px;
    font-weight: 600;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 85px;
    right:30px;
    top:320px;
}
.icons7-1{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 35px;
    right: 110px;
}
.icons7-2{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 35px;
    right: 80px;
}
.icons7-3{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 35px;
    right: 55px;
}
.icons7-4{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 35px;
    right: 25px;
}
/*----------------------------------------------------------*/
.block8{
    width: 290px;
    height: 349px;
    position: absolute;
    left: 935px;
    top: 2365px;
}
.photo8-1{
    width: 290px;
    height: 349px;
    background-color: #988f8f;
}
.text8-1{
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #921026;
    position: absolute;
    left: 20px;
    top: 25px;
}
.text8-2{
    font-family: 'Josefin Sans';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 20px;
    top: 95px;

}
.text8-3{

    font-family: 'Josefin Sans';
    transform:skew(-7deg);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #222222;
    position: absolute;
    left: 20px;
    top: 130px;
    width: 250px;

}
.text8-4{
    font-family: 'Font Awesome';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:130px;
    top:205px;
}
.text8-5{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:145px;
    top:205px;
}
.text8-6{
    font-family: 'Font Awesome';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:190px;
    top:205px;
}
.text8-7{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:205px;
    top:205px;
}
.text8-8{
    font-family: 'Font Awesome';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:230px;
    top:205px;
}
.text8-9{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:245px;
    top:205px;
}
.line8-1{
    width: 1px;
    height: 14px;
    background-color: #6f6f6f;
    position: absolute;
    left:185px;
    top:205px;
}
.viewbutton8-1{
    font-family: 'Josefin Sans';
    font-size:12px;
    line-height: 1.2;
    top:200px;
    left:20px;
    position: absolute;
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    font-weight: 300;
    color: #010101;
    background-color: #ffffff;
}
.viewbutton8-1:hover{
    background-color: #c2c2c2;
    color:#000000;
    cursor: pointer;
}
/*---------------------------------------------------------*/
.block9{
    width: 290px;
    height: 471px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    left:200px;
    top:2760px;
}
.text9-1{
    font-family: 'Josefin Sans';
    transform:skew(-7deg);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left:15px;
    top:35px;
}
.line9-1{
    width: 251px;
    height: 2px;
    opacity: 0.2;
    background-color: #555555;
    position: absolute;
    left:15px;
    top:65px;
}
.text9-2{
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #055555;
    position: absolute;
    left:30px;
    top:85px;
}
.text9-3{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:105px;
    top:145px;
}
.text9-4{
    opacity: 0.5;
    font-family: 'Josefin Sans';
    transform:skew(-7deg);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 105px;
    top:165px;
    right: 40px;
}
.text9-5{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:105px;
    top:250px;
}
.text9-6{
    opacity: 0.5;
    font-family: 'Josefin Sans';
    transform:skew(-7deg);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 105px;
    top:275px;
    right: 30px;
}
.text9-7{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    left:105px;
    top:365px;
}
.text9-8{
    opacity: 0.5;
    font-family: 'Josefin Sans';
    transform:skew(-7deg);
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 105px;
    top:385px;
    right: 50px;
}
.img9-1{
    width: 58px;
    height: 59px;
    background-color: #b7b7b7;
    position: absolute;
    left:25px;
    top:145px;
}
.img9-2{
    width: 58px;
    height: 59px;
    background-color: #b7b7b7;
    position: absolute;
    left:25px;
    top:250px;
}
.img9-3{
    width: 58px;
    height: 59px;
    background-color: #b7b7b7;
    position: absolute;
    left:25px;
    top:355px;
}
.img9-4{
    width: 30px;
    height: 55px;
    background-color: #b50051;
    position: absolute;
    left: 53px;
    top: 149px;
}
.img9-5{
    width: 53px;
    height: 59px;
    background-color: #055454;
    position: absolute;
    left:30px;
    top:250px;
}
.img9-6{
    width: 58px;
    height: 29px;
    background-color: #87d0c5;
    position: absolute;
    top:385px;
    left: 25px;
}
.text9-9{
    font-family: 'Josefin Sans';
    font-size: 21px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #959595;
    position: absolute;
    left:37px;
    top:162px;
}
.text9-10{
    font-family: 'Josefin Sans';
    font-size: 21.4px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #959595;
    position: absolute;
    left:36px;
    top:269px;
}
.text9-11{
    font-family: 'Josefin Sans';
    font-size: 21.4px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #959595;
    position: absolute;
    left:36px;
    top:375px;
}

.icons9-1{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 107px;
}
.icons9-2{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 77px;
}
.icons9-3{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 52px;
}
.icons9-4{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 22px;
}
/*--------------------------------------------------*/
.block10 {
    width: 290px;
    height: 430px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    left:935px;
    top:2760px;
}
.text10-1{
    font-family: 'Josefin Sans';
    transform:skew(-7deg);
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #000000;
    position: absolute;
    left: 20px;
    top:35px;
}
.icons10-1{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 120px;
}
.icons10-2{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 90px;
}
.icons10-3{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 65px;
}
.icons10-4{
    font-family: 'Font Awesome';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
    position: absolute;
    top: 40px;
    right: 35px;
}
.line10-1{
    width: 251px;
    height: 2px;
    opacity: 0.2;
    background-color: #555555;
    position: absolute;
    top:65px;
    left:15px;
}
.text10-2{
    font-family: 'Playfair Display';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.025em;
    color: #055555;
    position: absolute;
    left:30px;
    top:85px;
}
.text10-3{
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #6a6a6a;
    position: absolute;
    left:50px;
    top:340px;
    right:30px;
}
.line10-2{
    width: 9px;
    height: 68px;
    background-color: #87d0c5;
    position: absolute;
    left:70px;
    bottom: 125px;
}
.line10-3{
    width: 10px;
    height: 99px;
    background-color: #0d5959;
    position: absolute;
    left:155px;
    bottom: 125px;
}
.line10-4{
    width: 9px;
    height: 131px;
    background-color: #b50051;
    position: absolute;
    left:245px;
    bottom: 125px;
}
.text10-4{
    opacity: 0.8;
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    position: absolute;
    left:50px;
    bottom: 125px;
}
.text10-5{
    opacity: 0.8;
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    position: absolute;
    left:135px;
    bottom: 125px;
}
.text10-6{
    opacity: 0.8;
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    position: absolute;
    left:225px;
    bottom: 125px;
}
.text10-7{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    position: absolute;
    left:67px;
    top:185px;
}
.text10-8{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    position: absolute;
    left:152px;
    top:155px;
}
.text10-9{
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    position: absolute;
    left:242px;
    top:120px;
}
.line10-5{
    width: 205px;
    height: 2px;
    opacity: 0.2;
    background-color: #555555;
    position: absolute;
    left:50px;
    bottom:105px;
}
/* ======================ARTYOM===============*/

.block11 {
    width: 290px;
    height: 160px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    position: absolute;
    top: 2840px;
    left: 585px;
    padding-top: 25px;
}
.text {
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;
    transform: skew(-7deg)
}
.first {
    width: 36px;
    height: 19px;
    margin-left: 15px;
}
.second {
    width: 76px;
    height: 17px;
    margin-left: 15px;
}
.third {
    width: 45px;
    height: 19px;
    margin-left: 30px;
}
.fourth {
    width: 70px;
    height: 20px;
    margin-left: 30px;
}
.line {
    height: 2px;
    background-color: #555555;
    opacity: 0.2;
}
.spanz {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.one {
    width: 252px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.two {
    width: 252px;
    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.three {
    width: 271px;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 30px;
}
.last {
    top: 46px;
    left: 25px;
}
.spcal {
    display: flex;
    margin-left: 30px;
    margin-bottom: 30px;
}
.text11-1-1 {
    width: 237px;
    height: 12.5px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12.5px;
    font-weight: 350;
    font-style: normal;
    /*letter-spacing: normal;*/
    line-height: 3;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
}
.text11-1-2 {
    width: 237px;
    height: 12.5px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12.5px;
    font-weight: 350;
    font-style: normal;
    /*letter-spacing: normal;*/
    line-height: 3;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    margin-top: 20px;
}
.text11-1-3 {
    width: 237px;
    height: 12.5px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12.5px;
    font-weight: 350;
    font-style: normal;
    /*letter-spacing: normal;*/
    line-height: 3;
    text-align: left;
    text-transform: uppercase;
    line-height: normal;
    margin-top: 20px;
}
.block12 {
    width: 290px;
    height: 367px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    position: absolute;
    top: 3050px;
    left: 585px;
    padding-top: 25px;
}
.text12-1 {
    width: 5px;
    height: 9px;
    color: #555555;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}
.text12-2 {
    width: 5px;
    height: 9px;
    color: #555555;
    font-family: "Font Awesome";
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    margin-left: 65px;
}
.text12-3 {
    width: 80px;
    height: 16px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: normal;
    margin-left: 65px;
}
.text12-4 {
    width: 222px;
    height: 14px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.35px;
    margin-left: 35px;
    transform: skew(-7deg);
    word-spacing: 10px;
}
.calendar {
    margin-top: 15px;
    margin-left: 35px;
    display: grid;
    grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
    grid-template-rows: 34px 34px 34px 34px 34px;
    font-family: 'Josefin Sans';
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.025em;
    width: 225px;
    height: 170px;
}
.gr {
    color: #9e9e9e;
}
.bl {
    color: #000000;
}
.authorization {
    margin-top: 1230px;
    display: flex;
    justify-content: center;
    column-gap: 85px;
}
.block13 {
    width: 328px;
    height: 406px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding-top: 20px;
}
.text13-1 {
    width: 145px;
    height: 16px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.1px;
    line-height: normal;
    margin-left: 30px;
}
.login {
    width: 265px;
    height: 40px;
    box-shadow: inset 1px 2px 2px rgba(11, 12, 12, 0.37);
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
}
.login, .usname, .password2, .rppassword {
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
}
.login::placeholder, .usname::placeholder, .password2::placeholder, .rppassword::placeholder, .password::placeholder {
    width: 150px;
    height: 16px;
    opacity: 0.2;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
    transform: skew(-7deg);
    position: absolute;
}
.login::placeholder {
    top: 15px;
    left: 20px;
}
.password::placeholder {
    top: 15px;
    left: 20px;
}
.password {
    width: 265px;
    height: 40px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    margin-top: 20px;
}
.chbox {
    width: 10px;
    height: 10px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 20%;
}
.text13-2 {
    width: 100px;
    height: 10px;
    opacity: 0.54;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.3px;
    transform: skew(-7deg);
    margin-left: 5px;
    margin-top: 5px;
}
.btlogin {
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    margin-left: 110px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
.btsignup {
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    margin-top: 10px;
    margin-left: 115px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}
button:hover {
    background-color: #c2c2c2;
    cursor: pointer;
}

.text13-4 {
    width: 150px;
    height: 8px;
    opacity: 0.54;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.3px;
    transform: skew(-7deg);
}
.a1 {
    margin-left: 30px;
}
.flex1 {
    display: flex; 
    margin-left: 30px; 
    margin-bottom: 30px;  
}
.facebook {
    width: 12px;
    height: 22px;
    color: #555555;
    font-family: "Font Awesome";
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.3px;
}
.log {
    margin-top: 15px;
}

.facebook2 {
    width: 12px;
    height: 22px;
    color: #555555;
    font-family: "Font Awesome";
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.3px;
}
.g {
    width: 29px;
    height: 19px;
    color: #555555;
    font-family: "Font Awesome";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    letter-spacing: 0.55px;
}
.social {
    display: flex;
    margin-left: 135px;
    margin-bottom: 10px;
}
.a2 {
    margin-left: 20px;
}
.a3 {
    margin-left: 20px; 
}
.g2 {
    width: 29px;
    height: 19px;
    color: #555555;
    font-family: "Font Awesome";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    letter-spacing: 0.55px;
}
.text13-5 {
    width: 250px;
    height: 16px;
    opacity: 0.54;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    letter-spacing: 0.4px;
    margin-left: 60px;
    transform: skew(-7deg);
}
.block14 {
    width: 328px;
    height: 535px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding-top: 20px;
}
.text14-1 {
    width: 145px;
    height: 16px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.1px;
    line-height: normal;
    margin-left: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 15px;
}
.usname {
    width: 265px;
    height: 40px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    margin-top: 15px;
}
.usname::placeholder {
    top: 15px;
    left: 20px;
}
.password2 {
    width: 265px;
    height: 40px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    margin-top: 15px;
}
.password2::placeholder {
    top: 15px;
    left: 20px;
}
.rppassword {
    width: 265px;
    height: 40px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    margin-top: 15px;
}
.rppassword::placeholder {
    top: 15px;
    left: 20px;
}
.text14-5 {
    width: 240px;
    height: 14px;
    opacity: 0.54;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.2px;
    transform: skew(-7deg);
}
.l {
    margin-bottom: 25px;
}
.flexspan {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}
.text14-6 {
    width: 200px;
    height: 14px;
    color: #002dd6;
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
    text-decoration: underline;
    transform: skew(-7deg);
}
.text14-7 {
    width: 36px;
    height: 10px;
    color: #000000;
    font-family: "Josefin Sans";
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.3px;
}

/* ===================PASHASASHSHASHA============= */
/*------------------------block 15-----------------------*/
.block15 {
    width: 838px;
    height: 187px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    left: 280px;
    top: 4175px;
    position: absolute;
}
.text15-1, .text16-1{       /*block16 - text1 */
    color: #000000;
    font-family: "Josefin Sans";
    transform: skew(-7deg);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    left:40px;
    top: 25px;
    position: absolute;
}
.text15-2{
    text-decoration: none;
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: normal;
    color: #ffffff;
    top:55%;
    left:705px;
    position: absolute;
}
.text15-2:hover{
    color: rgb(187, 187, 187);
}
.Photo15-2{
    top:65px;
    left:40px;
    opacity: 0.05;
    position: absolute;
}
.Photo15-1{
    top:80px;
    left:60px;
    position: absolute;
}
.Input15-1{
    font-family: 'Josefin Sans', sans-serif;
    font-size:20px;
    height:36px;
    width:490px;
    top:90px;
    left:180px;
    border: 1px solid #c2c2c2;
    position:absolute;
}
.btn15-4{
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
    top:90px;
    left:680px;
    position: absolute;
    width:87px;
    font-weight: 300;
    height:40px;
    text-decoration-color: #c2c2c2;
    color: #ffffff;
    background-color: #383737;
}
.btn15-4:hover{
    background-color: #c2c2c2;
    color:#000000;
    cursor: pointer;
}
.text15-3, .text15-4, .text15-5{
    font-family: 'Josefin Sans', sans-serif;
    transform: skew(-7deg);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: normal;
    color: #000000;
    position: absolute;
}
.text15-3{
    left:645px;
    top:35px;
}
.text15-4{
    left:725px;
    top:35px;
}
.text15-5{
    left:740px;
    top:35px;
}
/*-----------------------block 16-------------------------*/
.block16{
    width: 838px;
    height: 761px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    top:4410px;
    left:280px;
}
.block16-1, .block16-2, .block16-3, .block16-4{
    position: absolute;
    top:60px;
    left:40px;
    width: 745px;
    height: 2px;
    opacity: 0.2;
    background-color: #555555;
}
.text16-1{
    top: 20px;
}
.Photo16-1{
    position: absolute;
    top:90px;
    left:50px;
}
.Photo16-2{
    position: absolute;
    top:445px;
    left:120px;
}
.Photo16-3{
    position: absolute;
    top:610px;
    left:50px;
}
.Photo16-4{
    position: absolute;
    top:160px;
    left:125px;
}
.text16-2, .text16-3, .text16-4, .text16-5, .text16-6, .text16-7, .text16-8, .date16-1 , .text16-9, .text16-10,
.reply16-2, .reply16-3, .date16-2, .date16-3, .text16-11, .text16-12{
    font-family: 'Josefin Sans';
    line-height: 1.2;
    position: absolute;
    letter-spacing: normal;
}
.text16-2, .text16-9, .text16-10, .text16-11{
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    top:85px;
    left:130px;
}
.text16-3{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    top: 105px;
    left:130px;
}
.text16-4, .reply16-2, .reply16-3{
    font-size: 12px;
    font-weight: 700;
    text-decoration: underline;
    color: #629494;
    position: absolute;
    top:105px;
    left:305px;
}
.text16-5, .text16-6{
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    top:385px;
    left:125px;
}
.text16-6{
    left:130px;
    top: 675px;
}
.date16-1, .date16-2, .date16-3{
    font-size: 12px;
    font-weight: 700;
    color: #629494;
    top:130px;
    left:130px;
}
.date16-2{
    left:200px;
    top:490px;
}
.date16-3{
    top:650px;
}
.block16-2{
    width: 655px;
    top:425px;
    left:125px;
}
.block16-3{
    top:590px;
}
.block16-4{
    top:705px;
}
.text16-7{
    top:465px;
    left:200px;
    font-weight: 700;
}
.text16-8{
    top:625px;
    left:130px;
    font-weight: 700;
}
.text16-9{
    left:200px;
    top:445px;
}
.text16-10{
    top:605px;
}
.reply16-2{
    top:465px;
    left:375px;
}
.reply16-3{
    top:625px;
}
.text16-11{
    top:515px;
    left:200px;
    font-weight: 600;
}
.text16-12{
    color: black;
    opacity: 0.5;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    left:400px;
    top:555px;
}
.t456-1, .t456-2, .t456-3{
    opacity: 0.8;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: normal;
    left:700px;
    position: absolute;
}
.t456-1, .t15-1{
    top:110px;
}
.t456-2, .t15-2{
    top:470px;
}
.t456-3, .t15-3{
    top:635px;
}
.t15-1, .t15-2, .t15-3{
    position: absolute;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: normal;
    color: #555555;
    left:750px;
}
.share16-1, .share16-2, .share16-3{
    position: absolute;
    left: 725px;
    cursor: pointer;
}
.share16-1, .like16-1{ top: 110px; }
.share16-2, .like16-2{ top: 470px; }
.share16-3, .like16-3{ top: 635px; }

.like16-1, .like16-2, .like16-3{
    position: absolute;
    width:15px;
    height:15px;
    left: 765px;
    cursor: pointer;
}
.ellipse16{
    width: 54px;
    height: 54px;
    position: absolute;
    left:375px;
    top:165px;
    background-color: #ffffff;
    border-radius: 50%;
}
.pinterest16{
    font-size: 32px;
    line-height: 1.2;
    font-weight: 400;
    color: #555555;
    position: absolute;
    top:10px;
    left:20%;
}
.pinterest16:hover{
    opacity:1;
    color: rgb(0, 0, 0);
}
/*-----------------------block 17--------------------------*/
.block17{
    width: 838px;
    height: 92px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    position: absolute;
    top: 5215px;
    left: 280px;
}
.text17-arrowleft, .text17-arrowright, .text17-1, .text17-2, .text17-3, .text17-4, .text17-5, .text17-6{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: normal;
    top: 40%;
    color: #000000;
    position: absolute;
}
.text17-arrowleft{
    left: 270px;
}
.text17-1{
    left: 310px;
}
.text17-2{
    left: 350px;
    color: #629494;
}
.text17-3{
    left: 390px;
}
.text17-4{
    left: 430px;
}
.text17-5{
    left: 470px;
}
.text17-6{
    left: 510px;
}
.text17-arrowright{
    left: 550px;
}
/*------------------------block 18-----------------------*/
.block18{
    width: 1120px;
    height: 180px;
    opacity: 0.8;
    background-color: #000000;
    box-shadow: 0px 3px 7px 0px rgba(11,12,12,0.14);
    position: absolute;
    top: 5460px;
    left:150px;
}
.Logo_black{
    position: absolute;
    top: 40%;
    left: 85px;
}
.text18-1, .text18-2, .text18-3, .text18-4, .text18-5, .text18-6{
    opacity: 0.5;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: normal;
    color: #fefefe;
    top:85px;
    position: absolute;
}
.text18-1{
    left:285px;
}
.text18-1:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-2{
    left:345px;
}
.text18-2:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-3{
    left:415px;
}
.text18-3:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-4{
    left:545px;
}
.text18-4:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-5{
    left:610px;
}
.text18-5:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.text18-6{
    left:835px;
}
.google18, .twitter18, .facebook18, .pinterest18 {
    top:110px;
    position: absolute;
    color: #fefefe;
    opacity: 0.3;
}
.google18{
    left:970px;
}
.google18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.twitter18{
    left:1005px;
}
.twitter18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.facebook18{
    left:1035px;
}
.facebook18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
.pinterest18{
    left:1055px;
}
.pinterest18:hover{
    opacity:1;
    color: rgb(236, 236, 236);
}
